body{
	background: #ccc;
}
.center{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.bgcolor{
	background: #eee;
	margin: 0px auto;
	width: 90%;
	height: auto;
	padding: 20px 10px;
}
p.right{
	text-align: right;
}
.span-margin{
	margin: 10px;
	width: 40%;
}
.span-margin1{
	margin: 10px;
	width: 20%;
}
a{
	text-decoration: none;
}